@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:wght@200&family=Poppins:wght@200;300;400;500&family=Roboto:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-text-default: #37373f;
  --color-primary: #ce1212;
  --color-secondary: #EEEEEE;
  --color-secondary-contrast: #4f4f5a;
  --color-secondary-two: #B6B6BF;
  --color-secondaty-three: #676775;
  --color-secondaty-four: #8d8d9b;
  --color-background: #f7f7f7;
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Amatic SC', cursive, sans-serif;
  --font-title: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-background);
}

.elections-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.elections-header h1 {
  font-family: 'Amatic Sc';
  font-size: 9.6rem;
  margin: 40px 0;
  color: var(--color-text-default);
}

.elections-header span {
  color: var(--color-primary);
}

.menu ul {
  display: flex;
  /* gap: 5px; */
  font-size: 1.4rem;
  font-family: 'Roboto';
  color: var(--color-secondaty-four);
}

.menu ul li {
  border-bottom: 1px var(--color-secondary-two) solid;
  padding: 5px 10px;
  cursor: pointer;
}

.menu ul li:hover {
  color: var(--color-text-default);
  border-color: var(--color-primary);
}

.selected {
  border: 1px var(--color-secondary-two) solid;
  border-bottom: none !important;
  color: var(--color-text-default);
  font-weight: 600;
}

.hidden {
  display: none;
}

.search-result {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100px;
}

input {
  /* margin-top: 40px; */
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 4px;
  border: 1px var(--color-secondary-two) solid;
  color: var(--color-secondaty-three);
  height: 40px;
}

button {
  padding: 5px 10px;
  border: 1px var(--color-secondary-two) solid;
  outline: none;
  font-family: var(--font-primary);
  height: 40px;
  border-radius: 4px;
  color: var(--color-text-default);
  cursor: pointer;
}

button:focus {
  border-color: var(--color-text-default);
}

input:focus {
  border-color: var(--color-primary);
}

input::placeholder {
  color: var(--color-secondaty-four);
}

.result {
  padding: 40px 20px;
  /* background-color: var(--color-background); */
  background-color: #eee;
  border-radius: 4px;
  font-size: 1.4rem;
  font-family: var(--font-primary);
  margin: 0px auto 0;
  width: 80%;
  color: var(--color-secondary-contrast);
  height: 600px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  overflow-y: scroll;
}

.result-title {
  color: var(--color-text-default);
  font-weight: 600;
  margin-bottom: 10px;
}

.result-line {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  margin: 0 auto 10px;
}

.result-line .candName {
  justify-self: start;
}

.menu-office ul {
  display: flex;
  gap: 20px;
}

.menu-office ul li {
  font-family: var(--font-primary);
  font-size: 1.4rem;
  position: relative;
  padding: 5px;
  cursor: pointer;
}

.menu-office ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: var(--color-secondary-two);
  transition: 0.3s;
}

.menu-office ul li.selectedd {
  font-weight: 600;
  color: var(--color-primary);
}


.menu-office ul li:hover::before {
  height: 1px;
  color: var(--color-secondary);
}

.menu-office ul li:hover {
  color: var( --color-primary);
}
